<div class="center jumbotron">
<h1>Events Main Page</h1>
<p>
  This is the home page for the
  <a href="#">Private Events</a>
  sample application.
   <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</p>